bin/*
!/bin/README.md
zasm
src/*
!/src/README.md
drivers/*
!/drivers/README.md
pcbs/uart_card
pcbs/parts-list.csv
TODO

pcbs/**/*.000
pcbs/**/*.bak
pcbs/**/*.bck
pcbs/**/*.kicad_pcb-bak
pcbs/**/*.kicad_sch-bak
pcbs/**/*-backups
pcbs/**/*.kicad_prl
pcbs/**/*.sch-bak
pcbs/**/*~
pcbs/**/_autosave-*
pcbs/**/*.tmp
pcbs/**/*-save.pro
pcbs/**/*-save.kicad_pcb
pcbs/**/fp-info-cache